<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.mutualmobile.cordova.bluetoothle" version="1.0.8">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <name>MM Cordova Bluetooth LE Plugin</name>
  <description>Connect with devices using Bluetooth Low Energy communication</description>
  <keywords>bluetooth,low energy,smart</keywords>
  <license>Apache 2.0</license>
  <js-module src="www/bluetoothle.js" name="BluetoothLe">
    <clobbers target="window.bluetoothle" />
  </js-module>

  <platform name="android">
    <source-file src="android/BluetoothLePlugin.java" target-dir="src/com/mutualmobile/cordova/bluetoothle" />
    <source-file src="android/JSONObjects.java" target-dir="src/com/mutualmobile/cordova/bluetoothle" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="android-package" value="com.mutualmobile.cordova.bluetoothle.BluetoothLePlugin" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.BLUETOOTH"/>
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    </config-file>
  </platform>

  <platform name="ios">
    <header-file src="ios/BluetoothLePlugin.h" />
    <source-file src="ios/BluetoothLePlugin.m" />
    <header-file src="ios/BaseReturnObjectType.h" />
    <source-file src="ios/BaseReturnObjectType.m" />

    <framework src="CoreBluetooth.framework" />

    <config-file target="config.xml" parent="/*">
      <feature name="BluetoothLePlugin">
        <param name="ios-package" value="BluetoothLePlugin" />
      </feature>
    </config-file>

    <config-file target="*-Info.plist" parent="UIBackgroundModes">
      <array>
        <string>bluetooth-central</string>
      </array>
    </config-file>
  </platform>

</plugin>
